* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Poppins", sans-serif;
}

body {
  background-color: #f8fbfa;
  color: #1f2937;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}